<h1>Change Your Password</h1>
<% @user.errors.full_messages.each do |message| %>
    <div class="alert alert-danger"><%= message %></div>
<% end %>
<%= form_for @user, {url: profile_path} do |f| %>

  <div class="form-group">
    <%= f.label :password, class: "control-label" %>
    <%= f.password_field :password, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :password_confirmation, class: "control-label" %>
    <%= f.password_field :password_confirmation, class: "form-control" %>
  </div>

  <%= f.submit "Update Password", class: "btn btn-primary" %>

<% end %>
