<ul class="list-unstyled">
  <% posts.each do |post| %>
    <li>
      <span class="post-user-name"><%= link_to post.user.user_name, users_posts_path(post.user_id) %></span>
      <p class="post-time-ago">
        <% if post.created_at > 24.hours.ago %>
          <%= time_ago_in_words(post.created_at) %> ago
        <% else %>
          on <%= post.created_at.strftime("%B %e, %Y ") %>
        <% end %>
      </p>
      <p>
        <%= post.body %>
      </p>
      <p>
        <% if current_user && current_user.id == post.id %>
          <%= link_to "Edit", edit_user_post_path(current_user.id, post.id) %>
          <%= link_to "Delete", user_post_path(current_user.id, post.id), method: :delete %>
        <% end %>
      </p>
    </li>
  <% end %>
</ul>
