<% if current_user %>
  <%= link_to "Post Something", new_user_post_path(current_user.id) %>
<% end %>
<br>
<br>
<%= render partial: "list", locals: { posts: @posts } %>

<% if total_pages == 1 %>
  <% page_links = 0 %>
<% elsif total_pages < 10 %>
  <% page_links = total_pages %>
<% else %>
  <% page_links = 10 %>
<% end %>

<ul class="pagination">
  <% page_links.times do |i|%>
    <% if current_page == i && current_page < 4 %>
      <li class="active">
        <%= link_to i + 1, posts_path(page: i) %>
      </li>
    <% elsif current_page == current_page + i - 4 && current_page >= 4 %>
      <li class="active">
        <%= link_to current_page + i - 3, posts_path(page: current_page + i - 4) %>
      </li>
    <% elsif current_page < 4 %>
      <li>
        <%= link_to i + 1, posts_path(page: i) %>
      </li>
    <% else %>
      <li>
        <%= link_to current_page + i - 3, posts_path(page: current_page + i - 4) %>
      </li>
    <% end %>
  <% end %>
</ul>
